<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Full Width Pics - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="py-4 navbar navbar-expand-lg navbar-dark bg-white border boredr-bottom
                    d-flex justify-content-between">
            <div class="container">
                <a class="navbar-brand text-dark" href="/index.html"><img src="images\dagachi_logo2.jpg" width="200" height="50"></a>
                <button class="navbar-toggler bg-secondary" type="button" data-bs-toggle="collapse" 
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="col-2"></div>
                    <div class="flex-fill">
                        <ul class="navbar-nav cen mb-2 mb-lg-0">
                            <li class="nav-item col-6">
                                <a class="nav-link text-dark fw-bold fs-5" href="#!">프로젝트</a>
                            </li>
                            <li class="nav-item col-6">
                                <a class="nav-link text-dark fw-bold fs-5" href="#!">채용공고</a>
                            </li>
                            <li class="nav-item col-6">
                                <a class="nav-link text-dark fw-bold fs-5" href="#!">자유게시판</a>
                            </li>
                            <!-- <li class="nav-item"><a class="nav-link" href="#!"></a></li> -->
                        </ul>
                    </div>
                    <div class="col-3"></div>
                    <div class="login_box ms-auto">
                        <ul class="navbar-nav mb-2 mb-lg-0">
                            <li class="nav-item border-end">
                                <a class="nav-link text-dark" href="#!">로그인</a>
                            </li>
                            <li class="nav-item fs-6">
                                <a class="nav-link text-dark" href="/join.html">회원가입</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        
        <!-- content -->
        <div class="container my-5">
            <div class="d-flex row justify-content-center ">
                <div class="card border-dark row  m-100 my-5 px-0 d-flex justify-content-center" style="width:500px; height:180px;">
                    <div class="card-body d-flex justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person align-self-center" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                        </svg>
                    </div> 
                    <h5 class="card-title text-center ">개인 회원</h5>
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    <button class="btn btn-secondary fw-bold rounded-bottom" type="button" onclick="location.href='/members/join/personal'">개인회원 가입하기</button>
                </div>
            </div>

            <div class="d-flex row justify-content-center ">
                <div class="card border-dark row  m-100 my-3 px-0 d-flex justify-content-center " style="width:500px; height:180px;">
                    <div class="card-body d-flex justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-building align-self-center" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
                            <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
                        </svg>
                    </div> 
                    <h5 class="card-title text-center ">기업 회원</h5>
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    <button class="btn btn-secondary fw-bold rounded-bottom" type="button" onclick="location.href='enterprise_join.html'">기업회원 가입하기</button>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="bg-white border border-top fixed-bottom d-flex 
        flex-column justify-content -center align-items-center py-4 mb-0 bg-dark">
            <div class="container"><p class="m-0 text-center text-dark">Copyright &copy; Your Website 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
