<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header" />
    <body>
<!-- Responsive navbar-->
        <th:block th:switch="${session.loginMember?.ROLE}">
            <span th:case="null"><div th:replace="fragments/nav :: nav"/></span>
            <span th:case="ROLE_PER"><div th:replace="fragments/personal_nav :: personal_nav"/></span>
            <span th:case="ROLE_ENT"><div th:replace="fragments/enterprise_nav :: enterprise_nav"/></span>
        </th:block>
        <!--content-->
        <div class="container row-cols-10">
            <button type="button" style="display:inline-block; position: absolute; right: 425px; top: 120px;" th:id="${project.project_id}" th:onclick="projectLike(this.getAttribute('id'))">
                <img src="/images/like.svg" class="project-like empty-like " id="projectLike" width="20px" height="20px">
            </button>
            <span class="card col p-1 mx-3 my-5 border">
                <h4 class="m-3 width:100%"> <strong >프로젝트명 </strong>
                    <span th:text="${' '} + ${project.project_title}"></span>
                </h4>
                <br>
                <span class="m-3" th:text="${'      '} + ${project.project_content}"></span>
                <br>
                <h4 class="m-3"> <strong >팀명 </strong>
                    <span th:text="${project.team_name}"></span>
                </h4>

                <div class="project_members row row-cols-5"  >
                    <dl th:each="project_member : ${project_members}" class="card m-3 col p-1 mx-3 my-5 border">
                        <dd>
                            <p th:text="'이름 : ' + ${project_member.name}"> </p>
                            <p th:text="'이메일 : ' + ${project_member.email}"></p>
                        </dd>
                    </dl>
                </div>
                <div class="tags">
                    <span class="tags" th:each="tag : ${project_tags}">
                        <span th:text="'#' + ${tag.project_tag}"></span>
                    </span>
                </div>

            <div class="portfolio col p-1 mx-3 my-5 border">
                <iframe class="mx-auto " th:href="${project.saved_path}" width="100%" height="700" align="center" title="포트폴리오">
                </iframe>
            </div>
        </div>


        </div>
        <!-- Footer-->
        <div th:replace="fragments/footer :: footer" />
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
        <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>

    </body>

</html>
<script src="/js/project.js"></script>

