<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header" />
    <body>
<!-- Responsive navbar-->
        <div th:replace="fragments/personal_nav :: personal_nav"/>
        <!--content-->
        <header class="py-3 bg-image-full" style="background-image: url('/images/metal-g05ed72aaf_1920.jpg')">
            <div class="text-center my-5">
                <h1 class="text-white fs-3 fw-bolder">프로젝트 </h1>
            </div>
        </header>

        <div class="row row-cols-4 justify-content-center text-center m-t-3">
            <form action="/project/search" method="get">
                <div class="input-group my-3">
                    <input type="text" class="form-control" name="keyword" placeholder="search" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">검색</button>
                </div>
            </form>
        </div>

        <div class="container">
            <div class="row row-cols-3">
                <div th:each = "project : ${projects}" th:onclick="|location.href='@{|/project/personal/${project.project_id}/detail|}'|"
                     class="card col p-1 mx-3 my-3 border" style="width: 30%; height: 250px;">
                    <div class="card-body fw-bold mt-5  "style="cursor:pointer">
                        <h4 th:text = "'프로젝트명 : ' + ${project.project_title}" class="card-title"></h4><br><br>
                        <h6 th:text="'팀명 : ' + ${project.team_name}" class="card-text"></h6>
                        <h6 th:text="${project.upload_date}"></h6>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='/project/project_register'"
                style="position: absolute; right: 100px; bottom: 100px;">신규 등록</button>
        <!-- Footer-->
        <div th:replace="fragments/footer :: footer" />
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>

