<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header"/>
<body>
<!-- Responsive navbar-->
<th:block sec:authorize="hasRole('ROLE_ADMIN')">
    <head th:replace="fragments/admin_nav :: admin_nav" />
</th:block>
<th:block sec:authorize="!hasRole('ROLE_ADMIN')">
    <head th:replace="fragments/nav :: nav" />
</th:block>
<!--content-->
<header class="py-3 bg-image-full" style="background-image: url('/images/metal-g05ed72aaf_1920.jpg')">
    <div class="text-center my-5">
        <h1 class="text-white fs-3 fw-bolder">프로젝트 </h1>
    </div>
</header>

<div class="row row-cols-4 justify-content-center text-center mt-3">
    <form action="/project/personal/search" method="get" class="">
        <div class="checkbox" style="float:left;">
            <input class="form-check-input" type="checkbox" name="tag" id="itTag" value="IT">
            <label class="form-check-label" for="itTag">IT</label>


            <input class="form-check-input" type="checkbox" name="tag" id="artTag" value="예술">
            <label class="form-check-label" for="artTag">예술</label>


            <input class="form-check-input" type="checkbox" name="tag" id="civilTag" value="토목">
            <label class="form-check-label" for="civilTag">토목</label>


            <input class="form-check-input" type="checkbox" name="tag" id="elecTag" value="전기">
            <label class="form-check-label" for="elecTag">전기</label>
        </div>
        <div class="input-group my-3" style="float:left;">
            <input type="text" class="form-control" name="keyword" placeholder="search"
                   aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">검색</button>
        </div>
    </form>
</div>

<div class="container">
    <div >
        <div class="row row-cols-5">
            <div th:each="project : ${projects}"
                 th:onclick="|location.href='@{|/project/enterprise/detail/${project.project_id}|}'|"
                 class="card col p-1 mx-3 my-3 border" style="width: 30%; height: 210px; background-color:#FAFAFA;box-shadow: 5px 5px grey;">
                <div class="card-body fw-bold mt-3  " style="cursor:pointer">
                    <h4 th:text="${project.project_title}" class="card-title"></h4><br><br>
                    <h6 th:text="'팀명 : ' + ${project.team_name}" class="card-text"></h6>
                    <h6 th:text="${#temporals.format(project.upload_date, 'yyyy-MM-dd')}"></h6>
                </div>
                <button  type="button" sec:authorize="hasAnyRole('ROLE_ENT', 'ROLE_ANONYMOUS', 'ROLE_ADMIN')"
                        style="display:inline-block; position: absolute; right: 30px; bottom: 30px;background-color:transparent;border:0;outline:0;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" id="projectLike"
                         class="project-like bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>
                    <span th:text="${project.like_cnt}"></span>
                </button>

            </div>

        </div>
        <button sec:authorize="hasRole('ROLE_PER')" type="button" class="btn btn-secondary btn-sm"
                onclick="location.href='/project/personal/project_register_form'"
                style="position: absolute; right: 100px; bottom: 100px;">신규 등록
        </button>
    </div>

<!--    <div sec:authorize="hasRole('ROLE_PER')">-->
<!--        <div class="row row-cols-5">-->
<!--            <div th:each="project : ${projects}"-->
<!--                 th:onclick="|location.href='@{|/project/personal/detail/${project.project_id}|}'|"-->
<!--                 class="card col p-1 mx-3 my-3 border" style="width: 30%; height: 210px; background-color:#FAFAFA;box-shadow: 5px 5px grey;">-->

<!--                <div class="card-body fw-bold mt-3  " style="cursor:pointer">-->
<!--                    <h4 th:text="${project.project_title}" class="card-title"></h4><br><br>-->
<!--                    <h6 th:text="'팀명 : ' + ${project.team_name}" class="card-text"></h6>-->
<!--                    <h6 th:text="${#temporals.format(project.upload_date, 'yyyy-MM-dd')}"></h6>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <button type="button" class="btn btn-secondary btn-sm"-->
<!--                onclick="location.href='/project/personal/project_register_form'"-->
<!--                style="position: absolute; right: 100px; bottom: 100px;">신규 등록-->
<!--        </button>-->
<!--    </div>-->
</div>


<!-- Footer-->
<div th:replace="fragments/footer :: footer"/>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>

</body>
</html>

