<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<!-- Responsive navbar-->
<div th:replace="fragments/nav :: nav"/>
<!--content-->
<div class="card">
    <h3> <strong>작품명</strong>
        <span></span>
    </h3>

</div>
<!-- Footer-->
<div th:replace="fragments/footer :: footer" />
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>

