<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/header :: header" />
  <link href="/css/project.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <body>
<!-- Responsive navbar-->
    <div th:replace="fragments/personal_nav :: personal_nav"/>

    <!-- Content section-->
      <div class=" container row align-items-center  mx-auto mt-5">
        <form action="/project/project_register" method="post" enctype="multipart/form-data">

          <table  class="border" style="padding-top:50px" align = center width=700  cellpadding=4 >
            <tr>
              <td height=20 align= center bgcolor=#ccc> 프로젝트 등록</td>
            </tr>
            <tr>
              <td bgcolor=white>
                <table class = "table2">
                  <tr>
                    <td>팀명 </td>
                    <td><input type = "text" name = "team_name" size=20 required> </td>
                  </tr>
                  <tr >
                    <td><br>팀원 </td>
                    <td id="box">
                      <br>
                      <p>
                        <input type = "email" id = "member_email" name = "member_email" placeholder="dagachi@example.com" size=20 required >
                        <input type="button" id="plus" value="+" size="3"><br>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td><br>프로젝트명 </td>
                    <td><input type = "text" name = "project_title" size=60 required> </td>
                  </tr>
                  <tr>
                    <td><br>프로젝트 설명 </td>
                    <td><textarea name = "project_content" cols=60 rows=10 ></textarea></td>
                  </tr>
                  <tr>
                    <td>포트폴리오 </td>
                    <td><input type = "file" name = "file" size=10 maxlength=10 required></td>
                  </tr>
                </table>

                <center>
                  <input type = "submit" value="등록">
                </center>
              </td>
            </tr>
          </table>
        </form>
      </div>



    <!-- Footer-->
    <div th:replace="fragments/footer :: footer" />
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/js/project.js"></script>
    <script src="/js/scripts.js"></script>
</body>
</html>
