<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/header :: header" />

  <body>
<!-- Responsive navbar-->
    <div th:replace="fragments/nav :: nav"/>

    <!-- Content section-->
      <div class="container row align-items-center  mx-auto mt-5">

        <form action="/project/project_register" method="post" enctype="multipart/form-data" class="mx-auto px-4" style="width: 500px;">
          <h4 class="">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 프로젝트 등록</h4><br>
          <hr style="width: 270px;">
          <div class="mb-3 ">
            <label for="team_name" class="form-label ">팀명</label><br>
            <input type="text" name="team_name" id="team_name" class="col-7">
            <br>
          </div>

          <div class="mb-3">
            <label for="project_file" class="form-label">포트폴리오 업로드 </label><br>
            <input type="file" name="project_file" id="project_file" class="col-7">
            <br>
          </div>


          <button type="submit" class="btn btn-secondary btn-sm col-7">등록</button>
        </form>
      </div>

    <!-- Footer-->
    <div th:replace="fragments/footer :: footer" />
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>
