<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header"/>
<body>
<!-- Responsive navbar-->
<head th:replace="fragments/nav :: nav"/>

<!--content-->
<!--modal-->
<div class="modal" tabindex="-1" id="exampleModal" th:each="project_member:${project_members}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="${project_member.name} + '님의 프로필'"></h5>
                <!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
            </div>
            <div class="modal-body">
                <tr>
                    <img src="">
                </tr>
                <table>
                    <tr>
                        <th>이름</th>
                        <td th:text="${project_member.name}"></td>
                    </tr>
                    <tr>
                        <th>이메일</th>
                        <td th:text="${project_member.email}"></td>
                    </tr>
                    <tr>
                        <th>학력</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>경력</th>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">닫기</button>

            </div>
        </div>
    </div>
</div>

<div class="container row-cols-10">
<!--    <button type="button" class="btn btn-secondary" style="position: absolute; right: 425px; top: 120px;"-->
<!--            th:onclick="|if(confirm('승인을 거절하시겠습니까?')) location.href='@{|/project/personal/${project.project_id}/delete|}'|">거절-->
<!--    </button>-->
    <span th:if="${project.approve == 'N'}">
        <button type="button" class="btn btn-primary" style="position: absolute; right: 300px; top: 160px;"
                th:onclick="|if(confirm('승인 하시겠습니까?')) location.href='@{|/project/admin/project_approve/${project.project_id}|}'|">승인
        </button>
    </span>
    <span th:if="${project.approve == 'Y'}">
        <button type="button" class="btn btn-primary" style="position: absolute; right: 300px; top: 160px;"
                th:onclick="|if(confirm('승인을 취소 하시겠습니까?')) location.href='@{|/project/admin/project_approve_cancel/${project.project_id}|}'|">승인취소
        </button>
    </span>
    <div class="title align-items-center"><h1 class="text-center mt-5" th:text="${project.project_title}"></h1></div>
    <table class="table">
        <colgroup>
            <col width="20%">
            <col width="80%">
        </colgroup>
        <tbody>
        <tr>
            <th>팀명</th>
            <td scope="row" th:text="${project.team_name}"></td>
        </tr>
        <tr>
            <th>등록날짜</th>
            <td scope="row" th:text="${project.upload_date}"></td>
        </tr>
        <tr>
            <th>프로젝트 개요</th>
            <td scope="row" th:text="${project.project_content}"></td>
        </tr>
        <tr>
            <th>기술분야</th>
            <td><span scope="row" th:each="tag : ${project_tags}" th:text="'#' + ${tag.project_tag}"></span></td>
        </tr>
        <tr>
            <th>팀원 정보</th>
            <td class="row row-cols-4">
                <dl th:each="project_member : ${project_members}" class="card m-3 col p-1 my-5 border"
                    style="background-color:#FAFAFA;">
                    <div class="openModalBtn btn btn-sm"
                         data-bs-target="#exampleModal">
                        <dd id="openModalBtn">
                            <p th:text="'이름 : ' + ${project_member.name}"></p>
                            <p th:text="'이메일 : ' + ${project_member.email}"></p>
                        </dd>
                    </div>

                </dl>
            </td>
        </tr>
        <tr>
            <th>포트폴리오</th>
            <td scope="row">
                <iframe class="mx-auto " th:src="${project.saved_path}" width="100%" height="700" align="center"
                        title="포트폴리오"></iframe>
            </td>
        </tr>
        </tbody>
    </table>

</div>


</div>
<!-- Footer-->
<div th:replace="fragments/footer :: footer"/>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
<script src="/js/project.js"></script>
<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/js/profileModal.js"></script>
</body>
</html>

