<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<!-- Responsive navbar-->
<div th:replace="fragments/nav :: nav"/>
<!--content-->
<div class="">
    <h4> <strong >프로젝트명 </strong>
        <span th:text="' ' + ${project.project_title}"></span>
    </h4>
    <br>
    <div th:text="'      ' + ${project?.project_content}"></div>
    <br>
    <h4> <strong >팀명 </strong>
        <span th:text="${project.team_name}"></span>
    </h4>
<!--    <div class="members">-->
<!--        <dl th:each="member : ${members}">-->
<!--            <dd>-->
<!--                <span th:text="${member.name}"> </span>-->
<!--            </dd>-->
<!--        </dl>-->
<!--    </div>-->
    <div class="portfolio">
        <iframe src="https://naver.com" width="100%" height="700" title="포트폴리오">
        </iframe>
    </div>


</div>
<!-- Footer-->
<div th:replace="fragments/footer :: footer" />
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>

