<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head" />

<body>
<!-- Responsive navbar-->
  <div th:replace="fragments/nav :: nav" />

<div class="container">
<span class="card-body b">



            <h5 class="card-title fw-bold" id="positngTitle"></h5>
            <p class="card-text" id="positngTitle"></p>
       <dl>
        <dt>회사명</dt>
           <dd>
               <div class="card-body b">
                   <labe th:text="${post?.postingTitle}"></labe>
               </div>
           </dd>
       </dl>







<!--<div>-->
<!--    <table>-->
<!--        <thead>-->

<!--        <tr>-->
<!--            <h1>회사명</h1>-->
<!--            <input th:text="'회사명 : ' + ${post.companyName}" name ="companyName" >-->
<!--        </tr>-->

<!--        <tr>-->
<!--            <h2>공고제목</h2>-->
<!--            <span th:text=" '공고제목 : ' + ${post.postingTitle}" name ="postingTitle" ></span>-->
<!--        </tr>-->

<!--        <tr>-->
<!--            <h3>공고내용</h3>-->

<!--             <p th:text="'공고내용 : ' + ${post.postingContent}" name="postingContent"></p></td>-->


<!--        </tr>-->

<!--        </thead>-->


<!--        </table>-->
<!--        <div>-->













<!-- Image element - set the background image for the header in the line below-->

<!-- Content section-->

<!-- Footer-->

        <div th:replace="fragments/footer :: footer" />


</body>
</html>


<!--<script>-->
<!--  function readURL(input){-->
<!--      if(input.files && input.files[0]){-->
<!--          var reader = new FileReader();-->
<!--          reader.onload = function(e){-->
<!--              document.getElementById('preview').src = e.target.result;-->
<!--          }-->
<!--          reader.readAsDataURL(input.files[0]);-->
<!--      }-->
<!--      else{-->
<!--          document.getElementById('preview').src="";-->
<!--      }-->
<!--  }-->
<!--</script>-->
