<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: head" />

<body>
<!-- Responsive navbar-->
  <div th:replace="fragments/personal_nav :: personal_nav" />

<!--<div class="container">-->
<!--<span class="card-body b">-->


<!--<div th:each="post:${post}">-->
<!--<form>-->
<!--    <h6  class="border-top" th:text=" '회사명 : ' + ${post?.companyName}" id="companyName"></h6>-->
<!--    <h7  th:text=" '공고제목 : ' + ${post?.postingTitle}" id="postingTitle"></h7></form></div>-->















<!--    <main class="mt-5 pt-5">-->
        <div class="container py-4">
            <h1 class="mx-5">채용공고</h1>
            <div class="card">
                <div class="card-body" th:each="post : ${post}">
                    <form>
                        <div class="mb-3">
                            <label class="form-label">회사이름</label>
                            <input type="text" th:text = "${post?.companyName}" name="companyName" disabled>

                        </div>
                        <div class="mb-3">
                            <label class="form-label">공고제목</label>
                                <input type="text" th:text="${post?.postingTitle}" name="postingTitle" disabled>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">공고내용</label>
                            <textarea class="form-control" th:text="${post.postingContent}" name="postingContent" style="width : 300px; height: 200px;" disabled></textarea>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">등록날짜</label>
                            <input type="text" th:text="${post?.uploadDate}" name="uploadDate" disabled>
                        </div>

<!--                        <a href="list" class="btn btn-outline-secondary">list</a> <a-->
<!--                            href="modify?bno=${board.bno}" class="btn btn-outline-warning">modify</a>-->
<!--                        <a href="remove?bno=${board.bno}" class="btn btn-outline-danger"-->
<!--                           onclick="return confirm('삭제하시겠습니까?')">remove</a>-->
                    </form>
                </div>
            </div>
        </div>
    </main>



<!--<div th:each="post:${post}">-->
<!--    <table class="view_table mx-5 py-5">-->
<!--       <dl>-->
<!--           <dt th:text=" '회사명 : ' + ${post?.companyName}" name="companyName">-->

<!--           </dt>-->
<!--       </dl>-->
<!--        <dl>-->
<!--            <dt th:text=" ' 공고제목 : ' + ${post?.postingTitle}" name="postingTitle" >-->

<!--            </dt>-->
<!--       </dl>-->
<!--        <dl>-->
<!--        <dt th:text=" ' 공고내용 : ' + ${post?.postingContent}" name="postingContent" >-->

<!--        </dt>-->
<!--       </dl>-->
<!--    </div>-->
<!--</table>-->

<!--<div class ="view_btn">-->
<!--    <button class="view_btn1" onclick="location href='#'">수정</button>-->
<!--</div>-->








<!--<div>-->
<!--    <table>-->
<!--        <thead>-->

<!--        <tr>-->
<!--            <h1>회사명</h1>-->
<!--            <input th:text="'회사명 : ' + ${post.companyName}" name ="companyName" >-->
<!--        </tr>-->

<!--        <tr>-->
<!--            <h2>공고제목</h2>-->
<!--            <span th:text=" '공고제목 : ' + ${post.postingTitle}" name ="postingTitle" ></span>-->
<!--        </tr>-->

<!--        <tr>-->
<!--            <h3>공고내용</h3>-->

<!--             <p th:text="'공고내용 : ' + ${post.postingContent}" name="postingContent"></p></td>-->


<!--        </tr>-->

<!--        </thead>-->


<!--        </table>-->
<!--        <div>-->













<!-- Image element - set the background image for the header in the line below-->

<!-- Content section-->

<!-- Footer-->

        <div th:replace="fragments/footer :: footer" />


</body>
</html>


<!--<script>-->
<!--  function readURL(input){-->
<!--      if(input.files && input.files[0]){-->
<!--          var reader = new FileReader();-->
<!--          reader.onload = function(e){-->
<!--              document.getElementById('preview').src = e.target.result;-->
<!--          }-->
<!--          reader.readAsDataURL(input.files[0]);-->
<!--      }-->
<!--      else{-->
<!--          document.getElementById('preview').src="";-->
<!--      }-->
<!--  }-->
<!--</script>-->
