<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head" />

<style>
<!--    .layout{-->
<!--            width :50px-->
<!--            margin: 0 auto;-->
<!--            magin-top : 40px;-->

<!--    }-->

<!--    .layout  input, text-->
<!--    {-->
<!--        width: 100%-->
<!--        box-sizing : border-box-->
<!--        margin-top :10px;-->
<!--    }-->

<!--    .layout textarea{-->
<!--        width:100%-->
<!--        margin-top :10px;-->
<!--        min-height : 300px;-->
<!--        }-->


</style>



<body>
<!-- Responsive navbar-->
        <div th:replace="fragments/nav :: nav" />


 <div class ="container col-5 my-5 width : 100%">
     <form action="/enter/enter_post#" method="post">
         <table>
             <thead>
             <tr>
                 <th>회사명
                 <td><input type="text"  name="companyName" value=""></td></th>
             </tr>
<!--             <tr>-->
<!--                 <th>날짜-->
<!--                 <td><input type="date" name="upload_date" value=""></td></th>-->
<!--             </tr>-->
             <tr>
                 <th>공고제목
                 <td><input type="text"  name="postingTitle" value=""></td></th>
             </tr>
             <tr>
                 <th>공고내용
                 <td><textarea name="postingContent" style="min-height :300px;  width: 300px" value=""></textarea></td></th>
             </tr>

             <tr>
                 <th>tag</th>
                 <td>
                 <div class="checkbox1">
                 <input class="checkbox1" type="checkbox" name="tag" value="IT">
                 <label class="checkbox1" >IT</label>
             </div>
                 <div class="checkbox2">
                 <input class="checkbox2" type="checkbox" name="tag" value="예술">
                 <label class="checkbox2" >예술</label>
                 </div>
                 <div class="checkbox3">
                 <input class="checkbox3" type="checkbox" name="tag" value="토목">
                 <label class="checkbox3" >토목</label>
                 </div>
                 <div class="checkbox3">
                     <input class="checkbox3" type="checkbox" name="tag" value="전기">
                     <label class="checkbox3" >전기</label>
                 </div>
             </td>

       </tr>
<!--             <tr>-->
<!--                 <th>담당자-->
<!--                 <td><input type="text" name="member_id" value=""></td></th>-->
<!--             </tr>-->

                 <button type="submit" class="">등록</button>
             </thead>
         </table>
     </form>
<!--     <span id="data"></span>-->







 </div>







<!--        </table>-->





<!-- Image element - set the background image for the header in the line below-->

<!-- Content section-->

<!-- Footer-->

        <div th:replace="fragments/footer :: footer" />


</body>
</html>


<!--<script>-->
<!--  function readURL(input){-->
<!--      if(input.files && input.files[0]){-->
<!--          var reader = new FileReader();-->
<!--          reader.onload = function(e){-->
<!--              document.getElementById('preview').src = e.target.result;-->
<!--          }-->
<!--          reader.readAsDataURL(input.files[0]);-->
<!--      }-->
<!--      else{-->
<!--          document.getElementById('preview').src="";-->
<!--      }-->
<!--  }-->
<!--</script>-->
