<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="" th:fragment="nav">
    <nav class="py-4 navbar navbar-expand-lg navbar-dark bg-white border boredr-bottom
                      d-flex justify-content-between">
        <div class="container">
            <a class="navbar-brand text-dark" href="/"><img src="/images/dagachi_logo.jpg" width="200" height="50"></a>
            <button class="navbar-toggler bg-secondary" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="col-2"></div>
                <div class="flex-fill">
                    <ul class="navbar-nav cen mb-2 mb-lg-0">
                        <div sec:authorize="hasRole('ROLE_ANONYMOUS')">
                            <div class="d-flex justify-content-between"><!--로그인 전 경로-->
                                <li class="nav-item col-8">
                                    <a class="nav-link text-dark fw-bold fs-5" href="/project/personal/project_list">프로젝트</a>
                                </li>
                                <li class="nav-item col-8">
                                    <a class="nav-link text-dark fw-bold fs-5" href="">채용공고</a>
                                </li>
                                <li class="nav-item col-8">
                                    <a class="nav-link text-dark fw-bold fs-5" href="/competition/competition_list">공모전</a>
                                </li>
                            </div>
                        </div>
                        <div sec:authorize="hasRole('ROLE_PER')">
                            <div class="d-flex justify-content-between">
                                <!-- 유저일 때 경로 -->
                                <li class="nav-item col-8">
                                    <a class="nav-link text-dark fw-bold fs-5" href="/project/personal/project_list">프로젝트</a>
                                </li>
                                <li class="nav-item col-8">
                                    <a class="nav-link text-dark fw-bold fs-5" href="/post/personal/post_list">채용공고</a>
                                </li>
                                <li class="nav-item col-8">
                                    <a class="nav-link text-dark fw-bold fs-5" href="/competition/competition_list">공모전</a>
                                </li>
                            </div>
                        </div>
                        <div sec:authorize="hasRole('ROLE_ENT')">
                            <div class="d-flex justify-content-between">
                                <!-- 기업일 때 경로 -->
                                <li class="nav-item col-8">
                                    <a class="nav-link text-dark fw-bold fs-5" href="/project/enterprise/project_list">프로젝트</a>
                                </li>
                                <li class="nav-item col-8">
                                    <a class="nav-link text-dark fw-bold fs-5" href="/post/enterprise/post_list">채용공고</a>
                                </li>
                                <li class="nav-item col-8">
                                    <a class="nav-link text-dark fw-bold fs-5" href="/competition/competition_list">공모전</a>
                                </li>
                            </div>
                        </div>
                        <div sec:authorize="hasRole('ROLE_ADMIN')">
                            <div class="d-flex justify-content-between">
                                <!-- 관리자일 때 경로 -->
                                <li class="nav-item col-8">
                                    <a class="nav-link text-dark fw-bold fs-5" href="/project/personal/project_list">프로젝트</a>
                                </li>
                                <li class="nav-item col-8">
                                    <a class="nav-link text-dark fw-bold fs-5" href="/post/admin/post_list">채용공고</a>
                                </li>
                                <li class="nav-item col-8">
                                    <a class="nav-link text-dark fw-bold fs-5" href="/competition/competition_list">공모전</a>
                                </li>
                            </div>
                        </div>

                        <!-- <li class="nav-item"><a class="nav-link" href="#!"></a></li> -->
                    </ul>
                </div>
                <div class="col-3"></div>
                <div class="login_box ms-auto">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <div sec:authorize="hasRole('ROLE_ANONYMOUS')">
                            <div class="d-flex justify-content-between">
                                <li class="nav-item border-end">
                                    <a class="nav-link text-dark" href="/members/login">로그인</a>
                                </li>
                                <li class="nav-item fs-6">
                                    <a class="nav-link text-dark" href="/members/join">회원가입</a>
                                </li>
                            </div>
                        </div>

                        <div sec:authorize="hasRole('ROLE_PER')">
                            <div class="d-flex justify-content-between">
                                <li class="nav-item dropdown">
                                    <a class="" href role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="gray"
                                             class="bi bi-person-circle" viewBox="0 0 16 16">
                                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                            <path fill-rule="evenodd"
                                                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                        </svg>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item text-dark text-center px-4"
                                               th:text="${#authentication.name}" href="#"></a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item text-dark px-4" href="/members/resumeChk">이력서 조회</a></li>
                                        <li><a class="dropdown-item text-dark px-4" href="/members/resumeEdit">이력서 작성</a></li>
                                        <li><a class="dropdown-item text-dark px-4" href="/post/personal/like_list">관심 기업</a></li>
                                        <li><a class="dropdown-item text-dark px-4" href="/project/personal/my_project">작성한 글</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item text-dark px-4" href="#">비밀번호 변경</a></li>
                                        <li>
                                            <form action="/logout" method="post" role="form">
                                                <button class="dropdown-item text-dark px-4" href type="submit">로그아웃</button>
                                            </form>
                                        </li>
                                    </ul>
                                </li>
                            </div>
                        </div>

                        <div sec:authorize="hasRole('ROLE_ENT')">
                            <div class="d-flex justify-content-between">
                                <li class="nav-item dropdown">
                                    <a class="" href role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="gray"
                                             class="bi bi-person-circle" viewBox="0 0 16 16">
                                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                            <path fill-rule="evenodd"
                                                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                        </svg>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item text-dark text-center px-4" th:text="${#authentication.name}" href="#"></a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item text-dark px-4" href="/post/enterprise/post_approve_list">채용공고 신청</a></li>
                                        <li><a class="dropdown-item text-dark px-4" href="/project/enterprise/myLike">관심 프로젝트</a></li>
                                        <li><a class="dropdown-item text-dark px-4" href="/post/enterprise/list">작성한 글</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item text-dark px-4" href="#">비밀번호 변경</a></li>
                                        <li>
                                            <form action="/logout" method="post" role="form">
                                                <button class="dropdown-item text-dark px-4" href type="submit">로그아웃</button>
                                            </form>
                                        </li>
                                    </ul>
                                </li>
                            </div>
                        </div>
                        <div sec:authorize="hasRole('ROLE_ADMIN')">
                            <div class="d-flex justify-content-between">
                                <li class="nav-item dropdown">
                                    <a class="" href role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="gray"
                                             class="bi bi-person-circle" viewBox="0 0 16 16">
                                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                            <path fill-rule="evenodd"
                                                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                        </svg>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item text-dark text-center px-4" th:text="${#authentication.name}" href="#"></a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item text-dark px-4" href="/post/admin/post_approve_list">채용공고 신청</a></li>
                                        <li><a class="dropdown-item text-dark px-4" href="/project/admin/project_approve_list">프로젝트 신청</a></li>
                                        <li><a class="dropdown-item text-dark px-4" href="/competition/admin/myCompetition">작성한 글</a></li>
<!--                                        <li><a class="dropdown-item text-dark px-4" href="#">회원관리</a></li>-->
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item text-dark px-4" href="#">비밀번호 변경</a></li>
                                        <li>
                                            <form action="/logout" method="post" role="form">
                                                <button class="dropdown-item text-dark px-4" href type="submit">로그아웃</button>
                                            </form>
                                        </li>
                                    </ul>
                                </li>
                            </div>
                        </div>



                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>