th, td {
    padding-bottom: 10px;
}

.basicTitle {
    width: 30%;
}

.basicContents {
    width: 45%;
    border: 1px solid gray;
}

.title {
    width: 25%;
}

.infoTitle {
    width: 30%;
}

.essential {
    color: red;
}

.contents {
    width: 60%;
}

.date{
    width: 26%;
}
